* {
    margin: 0px;
    padding: 0px;
}

/* -- ----------------banner part start----------- -- */

.banner-container {
    background-color: rgb(255, 192, 215);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-title {
    font-size: 50px;
    font-weight: bold;
}

.banner-des {
    font-size: 22px;
    padding: 20px 0px;
}

.btn {
    margin: 10px 0px;
    padding: 15px;
    border-radius: 2px;
    border: none;
    font-weight: 500;
    background-color: rgb(216, 112, 178);
    color: white;
}

.img {
    height: 100%;
    padding: 60px 40px 0px;

}

/* -- -----------------banner part end------------ -- */