* {
    margin: 0px;
    padding: 0px;
}

/* -- ----------------banner part start----------- -- */

.banner-container {
    background-color: rgb(255, 192, 215);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-title {
    font-size: 50px;
    font-weight: bold;
}

.banner-des {
    font-size: 22px;
    padding: 20px 0px;
}

.btn {
    margin: 10px 0px;
    padding: 15px;
    border-radius: 2px;
    border: none;
    font-weight: 500;
    background-color: rgb(216, 112, 178);
    color: white;
}

.img {
    height: 100%;
    padding: 60px 40px 0px;

}

/* -- -----------------banner part end------------ -- */


main {
    margin: 100px 0px;
}

/* - ----------featured flower part start-------- - */
.ft-title {
    font-size: 30px;
    text-align: center;
}

.ft-des {
    font-size: 22px;
    text-align: center;
    padding: 20px;
}

.images {
    display: flex;
    justify-content: space-around;
    margin: 100px 200px;
}

.img-1 {
    width: 250px;
    height: 350px;
    background-color: rgb(255, 192, 215);
    padding: 30px;
    border-radius: 45% 45% 0 0;
}

.img-2 {
    width: 250px;
    height: 350px;
    background-color: lightskyblue;
    padding: 30px;
    border-radius: 45% 45% 0 0;
}

.img-3 {
    width: 250px;
    height: 350px;
    background-color: rgb(158, 203, 188);
    padding: 30px;
    border-radius: 45% 45% 0 0;
}

figure {
    text-align: center;
}

/* -- ----------featured flower part End-------- -- */

/* ----------------sale part start-------- */
.sale-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: papayawhip;
    margin: 200px 0px;

}

.sale-des {
    padding: 25px 0px;
    font-size: 20px;
}

/* ---------sale part end-------- */

/* ---------instagram part start-------  */

.inst-title {
    font-size: 30px;
    text-align: center;
}

.inst-des {
    font-size: 22px;
    text-align: center;
    padding: 20px;
}

.Off {
    color: purple;
    font-size: 24px;
}

/* ---------instagram part end-------  */

/* ---------Latest deal part start---------- */

.deal-container {
    background-image: url('../Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    margin: 200px 200px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.deal-title {
    font-size: 25px;
    text-align: center;
    padding: 30px;
}

.deal-des {
    font-size: 22px;
    text-align: center;
    padding: 30px;
}

.mail-part {
    display: flex;
    justify-content: center;
}

input {

    padding: 10px;
    width: 500px;
    margin: 0px 50px;

}

/* ---------Latest deal part end---------- */